p {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background: #CCCCCC;
}

#test {
    color: red;
}

#segundoParagrafo {
    font-size: 20px
}

#banner {
    width: 100%;
    align-items: center;
}